html, body, * {
  cursor: none !important;
}

#custom-cursor {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
}

@keyframes customFadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

#voice-control-button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

#voice-control-button {
  transition: all 0.3s ease;
}
